In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'animal':'cat dog cat fish dog cat cat'.split(),
                   'size':list('SSMMMLL'),
                   'weight':[8,10,11,1,20,12,12],
                   'adult':[False] * 5 + [True] * 2})

In [5]:
df

  animal size  weight  adult
0    cat    S       8  False
1    dog    S      10  False
2    cat    M      11  False
3   fish    M       1  False
4    dog    M      20  False
5    cat    L      12   True
6    cat    L      12   True

In [10]:
df.groupby('animal')['weight'].mean()

animal
cat     10.75
dog     15.00
fish     1.00
Name: weight, dtype: float64

In [15]:
df.groupby('size')['weight'].apply(lambda x:x-x.mean())

0   -1.000000
1    1.000000
2    0.333333
3   -9.666667
4    9.333333
5    0.000000
6    0.000000
Name: weight, dtype: float64

In [18]:
df.groupby(['size', 'adult']).size().unstack().stack()

size  adult
L     True     2.0
M     False    3.0
S     False    2.0
dtype: float64

In [21]:
data = pd.DataFrame(np.random.randn(4,3), 
                    index=list('abcd'), columns=['r','g','k'])

In [25]:
data.stack().unstack(0)

          a         b         c         d
r -0.776372 -0.201062 -0.506249 -0.760586
g -1.917253 -0.803460  0.150049 -1.112656
k -0.988948  0.617476 -0.353377 -0.057980

In [27]:
data.T

          a         b         c         d
r -0.776372 -0.201062 -0.506249 -0.760586
g -1.917253 -0.803460  0.150049 -1.112656
k -0.988948  0.617476 -0.353377 -0.057980