In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('air1908.csv')

In [3]:
data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [8]:
data[['Type','Aboard','Fatalities']].isnull().sum()

Type          0
Aboard        0
Fatalities    0
dtype: int64

In [7]:
data = data[['Type','Aboard','Fatalities']].dropna()

In [10]:
data['Type'] = data.Type.map(lambda x:x.split()[0])

In [17]:
top5 = data.Type.value_counts()[:5].index

In [20]:
data = data[data.Type.isin(top5)]    #成员关系判断

In [23]:
data.Type.unique()

array(['de', 'Douglas', 'Boeing', 'Lockheed', 'Cessna'], dtype=object)

In [25]:
data['sv']=np.round((data.Aboard - data.Fatalities)/data.Aboard,2)

c:\users\rephi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
data[data.Type=='de']['sv'].mean()

0.20883720930232558

In [29]:
data[data.Type=='Boeing']['sv'].mean()

0.2499191374663073

In [30]:
data[data.Type=='Douglas']['sv'].mean()

0.16187885010266942